---
import MobileNavigation from "@components/layout/MobileNavigation.astro";
import Logo from "@components/layout/Logo.astro";
import Navigation from "@components/layout/Navigation.astro";
import ContactButtons from "@components/contact/ContactButtons.astro";
---

<header class="fixed top-0 w-full px-2 lg:px-4 z-101">
  <div class="max-w-[1840px] flex justify-between gap-6 mx-auto">
    <div class="flex lg:hidden w-full justify-between">
      <Logo />
      <ContactButtons variant="mobile" />
    </div>

    <div class="hidden lg:flex gap-2 w-full justify-between">
      <Logo variant="desktop" />
      <Navigation />
      <ContactButtons variant="desktop" />
    </div>
  </div>
</header>
<MobileNavigation />
