---
import AdvantagesCard from "@components/sections/AdvantagesCard.astro";
import H2 from "@components/common/H2.astro";

const advantagers = [
  {
    title: "Современный стиль",
    text: "Следим за актуальными тенденциями в архитектуре и деревянной отделке. Регулярно повышаем квалификацию, чтобы предлагать решения, которые выглядят современно и остаются актуальными на годы.",
  },
  {
    title: "Профессиональное оборудование",
    text: "Используем профессиональное оборудование для шлифовки и обработки древесины. Это позволяет добиваться ровной поверхности, точной геометрии и стабильного качества в каждом проекте.",
  },
  {
    title: "Натуральные масла",
    text: "Применяем натуральные масла для древесины, которые глубоко проникают в структуру, защищают материал и подчёркивают его природную текстуру без образования плёнки.",
  },
  {
    title: "Немецкие технологии OSMO",
    text: "Работаем с оригинальными маслами OSMO через официальных поставщиков. Это гарантирует долговечную защиту древесины, устойчивость к влаге и сохранение внешнего вида на долгие годы.",
  },
];
---

<section class="flex flex-col items-center w-full gap-6 md:gap-10 lg:gap-14">
  <H2 title="Наши преимущества" />
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4
              w-full gap-2 "
  >
    {
      advantagers.map(({ title, text }) => (
        <AdvantagesCard title={title} content={text} size="auto" />
      ))
    }
  </div>
</section>
