---
import Button from '@components/common/Button.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
	pageTitle="Страница не найдена"
  pageDescription="Странички с таким адресом не существует"
>
	<div class="h-screen text-4xl font-bold font-inter flex 
              flex-col items-center justify-center gap-8">
		<h1 class="flex flex-col items-center mx-auto gap-4 text-center">
      <span class="text-9xl text-amber-fade tracking-tighter">
        404
      </span>
      <span class="text-amber-fade">
        Такой страницы не существует
      </span>
    </h1>
    <Button href="/" title="На главную" variant="404"/>
	</div>
</Layout>
