---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import AboutBlock from "@components/ui/AboutBlock.astro";
import MaterialsBlock from "@components/ui/MaterialsBlock.astro";
import ServiceBlock from "@components/Services.astro";
import heroImg from "@assets/objects/naves-barbekyu-zona/1.jpg";
import heroImgMobile from "@assets/objects/naves-barbekyu-zona/6-mobile.jpg";
import FAQ from "@components/ui/FAQ.astro";
import NumbersBlock from "@components/ui/NumbersBlock.astro";
import ObjectsBlock from "@components/ui/ObjectsBlock.astro";
import DiscountSlider from "@components/ui/DiscountSlider.astro";
import PartnersBlock from "@components/ui/PartnersBlock.astro";
---

<Layout
  pageTitle="ПланкенАрт — бани и дома из дерева под ключ | Нижний Новгород"
  pageDescription="Строительство бань, каркасных домов и беседок, отделка фасадов в Нижнем Новгороде. Шлифовка и покрытие маслом OSMO."
>
  <Hero
    title={["Планкен ", "объекты из дерева под ключ ", "в Нижнем Новгороде"]}
    excerpt={"Шлифуем и защищаем дерево маслом OSMO. Строим бани, беседки, монтируем планкен и фасады. Работаем по Нижнему Новгороду и области."}
    img={heroImg}
    imgMobile={heroImgMobile}
  />
  <div class="px-2 lg:px-4 text-foreground mt-8 mb-8">
    <div
      class="max-w-7xl flex flex-col items-center mx-auto gap-10 md:gap-18 lg:gap-22"
    >
      <AboutBlock />
      <NumbersBlock />
      <MaterialsBlock />
      <ServiceBlock />
      <ObjectsBlock />
      <FAQ />
      <DiscountSlider />
      <PartnersBlock />
    </div>
  </div>
</Layout>
