---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import heroImg from '../images/tmp/hero.png';

---

<Layout
	pageTitle="Обработка погонажных изделий различных пород древесины под ключ"
  pageDescription="Шлифовка древесины на проф-оборудовании, защита натуральными составами — масло, лазурь, краска"
>
	<main class="w-full">
		<Hero 
			title={["Монтаж и обработка планкена", "в Нижнем Новгороде"]} 
			variant="home"
			img={heroImg}
		/>
	</main>
</Layout>
