---
import Svg from "@components/svg/Svg.astro";
import Telegram from "@components/svg/telegram.astro";
import Max from "@components/svg/max.astro";
import Burger from "@components/svg/burger.astro";
import Phone from "@components/svg/phone.astro";

interface Props {
  variant?: "mobile" | "desktop";
}
const { variant = "mobile" } = Astro.props;
const phone = "+7 (952) 543 37 16";
const phoneHref = "tel:+79525433716";
const tgHref = "https://t.me/Spedd87";
const maxHref = "https://max.ru/u/f9LHodD0cOInrf1oW7eLIoFR6qmccy8q6dGH2T_Yg5FkK5P9mj7BI-0J5uc";
---

<div
  class:list={[
    variant === "desktop"
      ? "bg-none translate-y-5"
      : "bg-nav translate-y-3.5 p-2",
    "flex items-center backdrop-blur-xl lg:backdrop-blur-none ",
    "h-fit lg:h-12.5 rounded-[23px] gap-1.5 2xs:gap-4",
  ]}
>
  <div class="flex gap-1.5 2xs:gap-2.5">

    <!-- Telegram -->
    <a
      href={tgHref}
      aria-label="Написать в Telegram"
      class:list={[
        variant === "desktop"
          ? "hover:bg-html backdrop-blur-xl shadow-xl"
          : "hover:bg-html",
        "flex justify-center items-center bg-btn rounded-full",
        "group w-11 h-11 transition-colors duration-300 active:scale-98",
      ]}
    >
      <Svg size="xl">
        <Telegram />
      </Svg>
    </a>
  
    <!-- Max -->
    <a
      href={maxHref}
      aria-label="Написать в Max"
      class:list={[
        variant === "desktop"
          ? "hover:bg-html backdrop-blur-xl shadow-xl"
          : "hover:bg-html",
        "flex justify-center items-center bg-btn rounded-full",
        "group w-11 h-11 transition-colors duration-300 active:scale-98",
      ]}
    >
      <Svg size="xl" viewBox="max">
        <Max />
      </Svg>
    </a>
  
    <!-- Phone -->
    <a
      href={phoneHref}
      aria-label={`Позвонить: ${phone}`}
      class:list={[
        "flex justify-center items-center transition-colors duration-300 w-11 h-11",
        "rounded-[20px] font-bold bg-btn text-foreground group active:scale-98",
        variant === "desktop"
          ? "hover:bg-html backdrop-blur-xl shadow-xl"
          : "hover:bg-html",
      ]}
    >
      <Svg viewBox="phone" size="l">
        <Phone />
      </Svg>
    </a>
  </div>

  <!-- Burger -->
  <button
    id="burger-btn"
    aria-label="Открыть меню"
    aria-expanded="false"
    aria-controls="mobile-menu"
    class:list={[
      variant === "desktop" && "hidden",
      "flex justify-center items-center w-10 active:scale-98",
      "h-10 rounded-full cursor-pointer group transition-all duration-300",
    ]}
  >
    <Svg viewBox="burger" size="m" hover="burger">
      <Burger />
    </Svg>
  </button>
</div>