---

---

<div
  class="prose dark:prose-invert max-w-none prose-lg
  leading-6
  
  prose-headings:font-medium prose-h2:text-[28px] prose-h1:text-[32px]
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
>
  <slot />
</div>
