---
import '../styles/global.css';
const { pageTitle, pageDescription } = Astro.props;
import { Font } from 'astro:assets';
---
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="ПланкенАрт" />
    <meta name="description" content={pageDescription} />

    <title>{pageTitle}</title>
    
    <Font cssVariable="--font-manrope" preload />
    <Font cssVariable="--font-inter" preload />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
  </head>

  <body class="bg-html mx-auto font-manrope">
    <slot />
  </body>
</html>