---
import Svg from "@components/svg/Svg.astro";
import Telegram from "@components/svg/telegram.astro";
import Burger from "@components/svg/burger.astro";
import Phone from "@components/svg/phone.astro";

interface Props {
  variant?: "mobile" | "desktop";
}
const { variant = "mobile" } = Astro.props;
const phone = "+7 (952) 543 37 16";
const phoneHref = "tel:+79525433716";
const tgHref = "https://t.me/Spedd87";
---

<div
  class:list={[
    variant === "desktop"
      ? "bg-none translate-y-5"
      : "bg-nav translate-y-3.5 p-2",
    "flex items-center backdrop-blur-xl lg:backdrop-blur-none ",
    "h-fit rounded-[23px] gap-2.5",
  ]}
>
  <!-- Telegram -->
  <a
    href={tgHref}
    aria-label="Написать в Telegram"
    class:list={[
      variant === "desktop"
        ? "hover:bg-html backdrop-blur-xl shadow-xl/7"
        : "hover:bg-html",
      "flex justify-center items-center bg-btn rounded-full",
      "group w-11 h-11 transition-colors duration-300 active:scale-105",
    ]}
  >
    <Svg size="xl">
      <Telegram />
    </Svg>
  </a>

  <!-- Phone -->
  <a
    href={phoneHref}
    aria-label={`Позвонить: ${phone}`}
    class:list={[
      "flex justify-center items-center transition-colors duration-300",
      "rounded-[20px] font-bold bg-btn text-foreground group active:scale-105",
      variant === "desktop"
        ? "w-auto h-12.5 gap-4 px-6.25 hover:bg-html backdrop-blur-xl shadow-xl/7"
        : "w-11 h-11 hover:bg-html",
    ]}
  >
    <Svg viewBox="phone" size="l">
      <Phone />
    </Svg>
    {variant === "desktop" && <span>{phone}</span>}
  </a>

  <!-- Burger -->
  <button
    id="burger-btn"
    aria-label="Открыть меню"
    aria-expanded="false"
    aria-controls="mobile-menu"
    class:list={[
      variant === "desktop" && "hidden",
      "flex justify-center items-center w-10 active:scale-120",
      "h-10 rounded-full cursor-pointer group transition-all duration-300",
    ]}
  >
    <Svg viewBox="burger" size="m" hover="burger">
      <Burger />
    </Svg>
  </button>
</div>
