---
import H2 from "./H2.astro";

const faqs = [
  {
    question: "Как заказать?",
    answer:
      "Напишите в телеграм или позвоните нам — менеджер свяжется с вами в течение часа и проконсультирует по всем вопросам.",
  },
  {
    question: "Какие сорта древесины используете?",
    answer:
      "Мы работаем с лиственницей, ясенем, сосной и елью. Вся древесина сертифицирована и проходит камерную сушку до нужной влажности.",
  },
  {
    question: "Есть ли гарантия?",
    answer:
      "Да, мы даём гарантию 3 года на все изделия. В случае производственного брака — бесплатный ремонт или замена.",
  },
  {
    question: "Почему именно OSMO?",
    answer:
      "OSMO — немецкое масло на натуральной основе. Оно глубоко проникает в древесину, не трескается и безопасно для людей и животных.",
  },
];
---

<section class="flex flex-col gap-6 md:gap-10 lg:gap-14 w-full items-center reveal">
  <H2 title="Частые вопросы"/>
  <div class="w-full flex flex-col gap-2 md:gap-6 ">
    {faqs.map((faq, i) => (
      <li class="list-none">
        <details class="group" name="faq">
          <summary
            class="text-gradient font-bold text-[16px] xs:text-[20px] sm:text-[24px] 
                   md:text-[28px] lg:text-[32px] font-inter tracking-tighter 
                   list-none cursor-pointer group-hover:-translate-y-1 transition-all duration-300"
          >
          <div class="flex justify-between w-full px-1 md:px-5">
            <span>{faq.question}</span>
            <span
              class="text-gradient transition-transform duration-300
                      group-open:rotate-90"
              aria-hidden="true"
            >
              ›
            </span>
          </div>
          </summary>
          <div
            class="overflow-hidden
                    max-h-0 group-open:max-h-96
                    transition-all duration-300 ease-in-out"
          >
            <p class="px-1 pt-2 md:px-5 md:pt-5 text-foreground/70 text-[14px] 
                      md:text-[18px] lg:text-xl leading-relaxed cursor-default">
              {faq.answer}
            </p>
          </div>
        </details>
      </li>
      <hr class="border-line/30 group-open:hidden"/>
    ))}
    
  </div>
  </ul>
</section>