---
interface Props {
  title: string
}

const { title } = Astro.props
---
<h2 
  class="text-[24px] md:text-4xl lg:text-left font-inter 
          font-bold text-center tracking-tighter cursor-default"
>
  {title}
</h2>