---
import Dropdown from "@components/ui/Dropdown.astro";
import Trees from "@assets/svg/trees.svg"
import Fence from "@assets/svg/fence.svg"
---
<div class="relative z-99 border  border-nav/20 rounded-[17px] md:rounded-[20px] gap-1 sm:gap-2
            mx-auto max-w-7xl h-fit md:h-12 lg:h-14 p-1 md:p-1.5 flex flex-col sm:flex-row items-center reveal"
>
  <Dropdown
    title="Вид дерева"
    label="Фильтр по виду дерева"
    Icon={Trees}
    collection="woodTypes"
  />
  <Dropdown
    title="Вид материала"
    label="Фильтр по виду материала"
    Icon={Fence}
    collection="materialTypes"
  />
</div>
