---
import { navLinks } from "../../lib/navigation";

const links = navLinks;
const current = Astro.url.pathname;
---

<nav
  aria-label="Основная навигация"
  class="font-inter font-semibold
  tracking-tight h-12.5
  bg-nav backdrop-blur-xl rounded-[20px] translate-y-5 shadow-xl/7"
>
  <ul class="flex p-0.75 items-center justify-between gap-0.75 my-auto h-full">
    {
      links.map(({ href, label }) => (
        <li
          class:list={[
            "py-2 px-4 h-full rounded-[18px] flex items-center hover:bg-html/80 ",
            "transition-all duration-150 active:scale-96 hover:text-foreground",
            current.startsWith(href) ? "bg-btn/80" : "",
          ]}
        >
          <a
            href={href}
            aria-current={current.startsWith(href) ? "page" : undefined}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
