---
interface Props {
  number: number,
  sign: string,
  text: string,
}

const { number, sign, text } = Astro.props
---

<div
  class="flex flex-col items-center justify-center border font-inter cursor-default
         border-dashed border-border rounded-2xl md:rounded-3xl w-full font-bold
         tracking-tighter h-[clamp(160px,15vh,180px)] sm:h-[clamp(180px,20vh,280px)]"
>
  <div class="">
    <span
      class:list={[
        "text-gradient text-[clamp(3rem,3.5vw,4rem)] flex items-center",
        sign == "+" && "after:content-['+']  after:text-[70%]",
        sign == "%" && "after:content-['%']  after:text-[70%] after:font-sans",
        sign == ">" && "before:content-['>'] before:text-[60%] ",
      ]}
      data-countup
      data-target={number}
    >
      0
    </span>
  </div>

  <span class="text-gradient text-center text-[clamp(1rem,1.5vw,2rem)]">
    {text}
  </span>
</div>



