---
import { getCollection } from "astro:content";
import ObjectCard from "@components/ui/ObjectCard.astro";
import ObjectDropdown from "@components/ui/ObjectDropdown.astro";
import WoodDropdown from "@components/ui/WoodDropdown.astro";
import MaterialDropdown from "@components/ui/MaterialDropdown.astro";
import ElementsNotFound from "@components/ui/ElementsNotFound.astro";

const allObjects = await getCollection("objects");
---
<div class="px-2 lg:px-4 text-foreground mt-8 mb-8">

  <div class="relative z-99 border border-dashed border-border rounded-[17px] md:rounded-[20px] gap-1 sm:gap-2
              mx-auto max-w-7xl h-fit md:h-12 lg:h-14 p-1 md:p-1.5 flex flex-col sm:flex-row items-center"
  >
    <ObjectDropdown/>
    <WoodDropdown/>
    <MaterialDropdown/>
  </div>

  <div class="mx-auto max-w-7xl mt-2.5">
    <ul
      id="grid"
      class="grid gap-2 
              grid-cols-1 
              2xs:grid-cols-2 
              sm:grid-cols-3 
              md:grid-cols-4 
              lg:grid-cols-5"
    >
      {allObjects.map(o => <ObjectCard object={o} />)}
    </ul>
    <ElementsNotFound/>
  </div>
</div>