---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { tagsDictionary } from "../../lib/mappers";

interface Props {
  object: CollectionEntry<"objects">;
}

const { object } = Astro.props;
---

<a
  href={`/objects/${object.id}`}
  class="object-card group flex flex-col rounded-2xl
         relative w-full reveal
         transition-all duration-300 no-underline"
  data-object={object.data.objectTypes.map((t) => tagsDictionary[t]).join(" ")}
  data-wood={object.data.woodTypes.map((t) => tagsDictionary[t]).join(" ")}
  data-material={object.data.materialTypes
    .map((m) => tagsDictionary[m])
    .join(" ")}
>
  <div
    class="p-1 md:p-1.5 border hover:border-border
              duration-300 border-nav/20 rounded-2xl
              overflow-hidden w-full
              hover:opacity-50
              hover:after:content-['Подробнее']
              hover:after:absolute
              hover:after:inset-0
              hover:after:flex
              hover:after:items-center
              hover:after:justify-center
              hover:after:text-white
              hover:after:text-3xl
              hover:after:font-bold
              hover:after:font-inter"
  >
    <Image
      src={object.data.coverImage}
      alt={object.data.imageAlt ?? object.data.title}
      class="w-full aspect-3/2 object-cover transition-all
              duration-300 rounded-2xl active:scale-105"
      loading="lazy"
      decoding="async"
      widths={[400, 800]}
      sizes="(max-width: 480px) 400px, 800px"
    />
  </div>
  <h3
    class="text-[clamp(1rem,1.9vw,1.2rem)] text-center font-semibold truncate text-foreground group-hover:text-line tracking-tighter transition-all duration-300 font-inter"
  >
    {object.data.title}
  </h3>
</a>
