---
import { getCollection } from "astro:content";
import OilCard from "@components/ui/OilCard.astro";
import H2 from "./H2.astro";
import Button from "./Button.astro";

const allOils = (await getCollection("oils")).slice(0, 6);
---

<section
  id="oils"
  aria-labelledby="oils-heading"
  class="flex flex-col gap-6 md:gap-10 lg:gap-14 w-full items-center"
>
  <H2 id="oils-heading" title="Используемые масла" />
  <p class="text-foreground/70 text-center max-w-2xl -mt-4 mb-4 reveal">
    Каталог продукции используемой в работе: фотографии и названия масел, цветовые выкрасы и коды, описание и назначение масел.
  </p>
  <div class="flex flex-col gap-6 justify-center items-center w-full">
    <div
      id="grid"
      class="grid gap-2
              grid-cols-1
              sm:grid-cols-2
              xl:grid-cols-3
              w-full"
    >
      {allOils.map((o) => <OilCard oil={o} />)}
    </div>
    <Button href="/oils" title="Перейти в каталог" variant="catalog" />
  </div>
</section>
